.page-about #container {

    main {

        .headings {
            display: flex;
            flex-flow: column nowrap;
            margin: 0 2.5rem;
            padding: 4rem;
            background: rgba($primary-white, .5);
        }

        .content {
            display: flex;
            flex-flow: column nowrap;
            margin: 4rem auto;
            padding: 0 3rem;
            max-width: 66rem;
            width: 100%;
            color: $primary-black;

            .section {
                display: flex;
                align-items: flex-start;
                flex-flow: row wrap;
                justify-content: space-between;
                padding-bottom: 4rem;

                &:not(:first-child)::before {
                    position: relative;
                    top: 0;
                    padding-bottom: 2rem;
                    width: 100%;
                    height: auto;
                    border-top: 1px solid rgba($primary-gray, .25);
                    content: "";
                }

                .section-title {
                    width: 50%;
                    color: $primary-gray;
                    font-size: .875rem;
                }

                .section-content {
                    width: 50%;
                    font-size: 1rem;
                    line-height: 1.6;

                    .content-subsection {
                        margin-bottom: 2rem;
                    }

                    .subsection-title {
                        display: block;
                        margin-bottom: .5rem;
                        font-weight: 700;
                    }

                    .content-tutors-wrapper {
                        display: flex;
                        flex-flow: row wrap;


                        .tutor-item {
                            display: flex;
                            flex-flow: column nowrap;
                            margin-bottom: 1rem;
                            padding: .0625rem;
                            width: 33%;
                            text-align: center;

                            .tutor-photo {
                                display: inline-block;
                                width: 100%;
                                height: auto;
                                box-shadow: 0 4px 6px rgba(50,50,93,0),
                                            0 1px 3px rgba(0,0,0,0);
                                transition: all .6s ease-in-out;
                                transform: scale(1);
                            }

                            .tutor-name {
                                display: inline-block;
                                margin-top: .5rem;
                                font-size: .875rem;
                            }

                            .tutor-title {
                                display: inline-block;
                                color: $primary-gray;
                                font-size: .75rem;
                            }

                            &:hover .tutor-photo {
                                z-index: 9;
                                box-shadow: 0 50px 100px rgba(50,50,93,.1),
                                            0 15px 35px rgba(50,50,93,.15),
                                            0 5px 15px rgba(0,0,0,.1);
                                transition: all 0.2s ease-in-out;
                                transform: translateY(-.25rem);
                            }
                        }
                    }
                }
            }
        }
    }
}
