.page-about main {

    .paragraphs-wrapper {

        .content-logos-wrapper {
            display: flex;
            flex-flow: row wrap;

            .company-logo {
                display: inline-block;
                width: 50%;
                height: 50%;
                filter: drop-shadow(0 15px 35px rgba(50,50,93,0));
                transition: all .6s ease-in-out;
                transform: scale(1);

                &:hover {
                    z-index: 9;
                    filter: drop-shadow(0 15px 35px rgba(50,50,93,.15));
                    transition: all 0.3s ease-in-out;
                    transform: translateY(-.25rem);
                }
            }
        }

        .content-tutors-wrapper {
            display: flex;
            flex-flow: row wrap;

            .tutor-item {
                display: flex;
                flex-flow: column nowrap;
                margin-bottom: 1rem;
                padding: .125rem;
                width: 50%;
                text-align: center;

                .tutor-photo {
                    display: inline-block;
                    width: 100%;
                    height: auto;
                    box-shadow: 0 4px 6px rgba(50,50,93,0),
                                0 1px 3px rgba(0,0,0,0);
                    transition: all .6s ease-in-out;
                    transform: scale(1);
                }

                .tutor-name {
                    display: inline-block;
                    margin-top: .5rem;
                }

                .tutor-title {
                    display: inline-block;
                    color: $primary-gray;
                    font-size: .875rem;
                }

                &:hover .tutor-photo {
                    z-index: 9;
                    box-shadow: 0 50px 100px rgba(50,50,93,.1),
                                0 15px 35px rgba(50,50,93,.15),
                                0 5px 15px rgba(0,0,0,.1);
                    transition: all 0.3s ease-in-out;
                    transform: translateY(-.25rem);
                }
            }
        }

        .section-content a {
            font-weight: 700;
            color: $primary-black;
            padding-bottom: .25rem;
            border-bottom: 1px dotted rgba($primary-black, .5);
            transition: all 0.3s ease-in-out;

            &:hover {
                padding-bottom: .125rem;
                border-bottom: 1px dotted rgba($primary-black, 1);
            }
        }
    }
}
