.page-home #container {
    height: 100%;

    header {
        margin-top: 0.125rem;
    }

    main.countdown {
        justify-content: space-between;
        padding: 0 2.5rem 2rem 6.5rem;

        .content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            padding: 1rem 0;
            height: 100%;

            .heading-main {
                color: $primary-black;
                font-weight: 300;
                font-size: 4rem;
            }

            .heading-caption {
                font-weight: 300;
                font-size: 1.25rem;
            }

            #countdown-container {
                display: flex;
                align-items: center;
                flex-flow: row wrap;
                justify-content: flex-start;

                .section-wrapper {
                    padding: 4rem 8rem 4rem 0;

                    .number {
                        color: $primary-black;
                        font-weight: 100;
                        font-size: 6rem;
                    }
                    .caption {
                        font-size: .75rem;
                    }
                }
            }
        }
    }

    main.gradient {
        justify-content: space-between;
        padding: 0 2.5rem 5rem 6.5rem;

        &::before {
            position: fixed;
            top: 0;
            left: 0;
            z-index: -999;
            margin: 8rem 2.5rem 2.5rem;
            width: calc(100% - 5rem);
            height: calc(100% - 10.5rem);
            background: linear-gradient(45deg, $primary-experiental, $primary-hybrid, $primary-app);
            background-size: 400% 400%;
            content: "";
            animation: Gradient 10s ease infinite;

            @-webkit-keyframes Gradient {
                0% { background-position: 0% 50% }
                50% { background-position: 100% 50%}
                100% { background-position: 0% 50% }
            }

            @-moz-keyframes Gradient {
                0% { background-position: 0% 50% }
                50% { background-position: 100% 50% }
                100% { background-position: 0% 50% }
            }

            @keyframes Gradient {
                0% { background-position: 0% 50% }
                50% { background-position: 100% 50% }
                100% { background-position: 0% 50% }
            }
        }

        .content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            padding-top: 8rem;
            height: 100%;
            color: rgba($white, .6);

            .heading-main {
                color: $white;
                font-weight: 300;
                font-size: 4rem;
            }

            .heading-caption {
                font-weight: 300;
                font-size: 1.25rem;
            }
        }

        #info-buttons-container {
            margin-top: 4rem;

            .button-large {
                padding: .875rem 1.75rem;
                border-radius: 4rem;
                background-color: $primary-white;
                box-shadow: 0 4px 6px rgba(50,50,93,.21),
                            0 1px 3px rgba(0,0,0,.15);
                color: rgba($primary-black, .8);
                font-weight: 500;
                transition: all .6s ease-in-out;
                transform: scale(1);

                &:hover {
                    background: $white;
                    box-shadow: 0 7px 14px rgba(50,50,93,.2),
                                0 3px 6px rgba(0,0,0,.2);
                    color: $primary-black;
                    transition: all 0.2s ease-in-out;
                    transform: translateY(-.25rem);

                }

                &:active {
                    box-shadow: 0 4px 6px rgba(50,50,93,.21),
                                0 1px 3px rgba(0,0,0,.15);
                    transition: all 0.2s ease-in-out;
                    transform: scale(.98);
                }
            }

            .button-icon {
                margin-left: 1.5rem;
                width: 3rem;
                height: 3rem;
                border: 1px solid rgba($white, .6);
                border-radius: 4rem;
                box-shadow: 0 4px 6px rgba(50,50,93,0),
                            0 1px 3px rgba(0,0,0,0);
                transition: all .6s ease-in-out;
                transform: scale(1);

                img {
                    width: 1.5rem;
                    height: 1.5rem;
                    opacity: .8;
                    filter: invert(1);
                    transition: all 0.6s ease-in-out;
                    transform: translateY(1px);
                }

                &:hover {
                    border: 1px solid transparent;
                    background: $white;
                    box-shadow: 0 4px 6px rgba(50,50,93,.11),
                                0 1px 3px rgba(0,0,0,.05);
                    transition: all 0.2s ease-in-out;
                    transform: translateY(-.25rem);

                    img {
                        opacity: 1;
                        filter: invert(0);
                        transition: all 0.2s ease-in-out;
                    }
                }

                &:active {
                    box-shadow: 0 1px 2px rgba(50,50,93,0.11),
                                0 1px 3px rgba(0,0,0,0.05);
                    transition: all 0.2s ease-in-out;
                    transform: scale(.98);
                }
            }
        }

        .social-container .social-link {

            img {
                opacity: .6;
                filter: invert(1);
            }

            &:hover {

                &::before {
                    opacity: .2;
                }

                img {
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    #info-sidebar {

    }

    #info-location {

    }

    #particles-js {
        position: absolute;
        z-index: -99;
        width: 100%;
        height: 100%;
    }
}
