.page-home {
    position: sticky;

    #background {
        position: fixed;
        right:0;
        left:0;
        z-index: -9;
        margin-right:auto;
        margin-left:auto;
        max-width: 98rem;
        width: 100%;
        height: 100%;
        background: $white;
    }

    #container {
        z-index: 99;
        overflow: hidden;
        height: 100%;
        background: transparent;
    }

    main {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        height: 100%;

        .intro-container {
            z-index: 99;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            padding: 2rem 0;
            background: transparent;
            margin: 0;

            .title-wrapper {
                padding: 2rem 1rem 2rem 6rem;
                text-shadow: 0 20px 80px rgba(50,50,93,.21),
                             0 4px 20px rgba(50,50,93,.1),
                             0 1px 5px rgba(0,0,0,.15);

                .title-main {
                    margin-bottom: 2rem;
                    color: $white;
                    font-weight: 700;
                    font-size: 4rem;
                    line-height: 1;
                }

                .title-caption {
                    max-width: 40rem;
                    color: $primary-white;
                    font-size: 1.25rem;
                }
            }
        }

        .info-buttons-wrapper {
            padding: 2rem 1rem 2rem 5.5rem;

            .socials-wrapper {
                padding-left: 1rem;

                img {
                    filter: invert(1);
                }
            }
        }
    }
}

@media only screen and (max-width: 1366px) {

    .page-home main {
        .intro-container {
            margin-top: -10rem;

            .title-wrapper {
                .title-main { font-size: 3rem; }
                .title-caption { font-size: 1rem; }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .page-home main {

        .intro-container {
            margin-top: 2rem;
        }

        .intro-container .title-wrapper {
            .title-main { font-size: 2.5rem; }
            .title-caption { font-size: 1rem; }
        }

        .info-buttons-wrapper {
            display: flex;
            flex-flow: column nowrap;
            margin-top: 4rem;

            button { padding: .875 1.25rem; }

            .socials-wrapper { padding: 1rem 0 0 0; }
        }
    }
}


@media only screen and (max-width: 640px) {
    .page-home main {
        justify-content: flex-start;

        .intro-container .title-wrapper { padding: 2rem;  }
        .info-buttons-wrapper { margin: 0; padding: 2rem; }
    }
}
