footer {
    width: 100%;
    height: auto;
    background: $primary-black;
    font-size: .875rem;

    .foolter-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 auto;
        padding: 2rem 1rem;
        max-width: 60rem;
        width: 100%;

        @include for-size(tablet){
            padding: 2rem;
        }

        .logo-wrapper {
            display: inline-flex;
            order: 1;
            width: 50%;
            opacity: .6;
            filter: grayscale(1);
            transition: all 1s ease-in-out;

            &:hover {
                opacity: 1;
                filter: grayscale(0);
                transition: all 0.3s ease-in-out;
            }

            .link {
                display: block;

                svg {
                    width: auto;
                    height: 3rem;

                    @include for-size(tablet){
                        padding: .125rem;
                        height: 4rem;
                    }

                    .st14 {
                        fill: $primary-white !important;
                    }

                    #app, #experiental, #hybrid {
                        transition: all 1s ease-in-out;
                    }

                    &:hover #app {
                        transition: all 0.3s ease-in-out;
                        transform: translate(-1px,1px);
                    }

                    &:hover #experiental {
                        transition: all 0.3s ease-in-out;
                        transform: translate(1px,1px);
                    }

                    &:hover #hybrid {
                        transition: all 0.3s ease-in-out;
                        transform: translate(0,-1px);
                    }
                }
            }
        }

        .socials-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            order: 2;
            width: 48%;

            @include for-size(tablet){
                justify-content: flex-start;
                order: 3;
                margin-top: -2rem;
                padding-left: 3.5rem;
            }

            li {
                padding: .5rem;

                &:last-child {
                    margin-right: 0;
                }

                a img {
                    width: 1rem;
                    height: 1rem;
                    filter: invert(1);
                }
            }
        }

        .footer-nav {
            display: flex;
            flex-flow: column nowrap;
            order: 3;
            padding-top: 1rem;
            width: 100%;

            @include for-size(tablet){
                order: 2;
                width: 50%;
            }

            #nav-footer,
            #nav-years-footer {
                display: inline-flex;
                align-items: center;
                flex-flow: row nowrap;
                justify-content: space-between;
                margin-top: .5rem;
                width: 100%;
                color: rgba($primary-gray, .5);

                span {
                    @include for-size(tablet-landscape){
                        visibility: hidden;
                    }
                }

                ul {
                    display: inline-flex;
                    flex-flow: row nowrap;
                    margin: 0;
                    margin-left: -.5rem;
                    padding: 0;
                    list-style-type: none;

                    a {
                        display: inline-block;
                        padding: .5rem;
                        color: $primary-gray;
                        font-weight: 700;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: $primary-white;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    #copyright {
        position: relative;
        display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: center;
        padding-bottom: 2rem;
        width: 100%;
        height: auto;
        color: rgba($primary-gray, .5);
        text-align: center;
        line-height: 1;

        .link {
            z-index: 9;
            display: block;
            width: 100%;
            height: auto;
            opacity: 1;
            transition: all .6s ease-in-out;
            transform: scaleX(1);

            @include for-size(tablet-landscape){
                opacity: 0;
                transform: scaleX(2);
            }

            a {
                display: inline-block;
                color: rgba($primary-gray, .5);
                transition: all .3s ease-in-out;

                &:hover {
                    color: $primary-gray;
                    transition: all .3s ease-in-out;
                }
            }
        }

        .dots {
            display: block;
            margin-top: -1rem;
            width: 100%;
            height: 100%;
            font-size: 2rem;
            line-height: .5;
            opacity: 0;
            transition: all .6s ease-in-out;
            transform: scaleX(1);

            @include for-size(tablet-landscape){
                opacity: 1;
            }
        }

        &:hover {

            .link {
                opacity: 1;
                transition: all .3s ease-in-out;
                transform: scaleX(1);
            }

            .dots {
                opacity: 0;
                transition: all .3s ease-in-out;
                transform: scaleX(2);
            }
        }
    }
}
