header {
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 98rem;
    width: 100%;
    height: auto;
    background: $white;
    box-shadow: none;
    line-height: 1;
    transition: all 0.3s ease-in-out;
    transition-delay: .3s;

    &.on-scroll,
    &.menu-shown {
        box-shadow: 0 16px 16px 0 rgba($primary-shadow,0.05),
                    0 8px 8px 0 rgba($primary-shadow,0.10),
                    0 2px 2px 0 rgba($primary-shadow,0.20);
        transition: all 0.3s ease-in-out;
    }

    .logo-wrapper {
        display: inline-block;
        margin-left: .75rem;
        padding: .5rem;

        @include for-size(tablet) {
            margin-left: 1rem;
            padding: 1rem;
        }
        @include for-size(tablet-landscape) {
            padding: 1rem 4rem;
        }

        #nav-logo {
            display: inline-flex;

            svg {
                padding: 0;
                width: auto;
                height: 3rem;

                @include for-size(tablet-landscape){
                    padding: .125rem;
                    height: 3.25rem;
                }

                #app, #experiental, #hybrid {
                    transition: all 1s ease-in-out;
                }

                &:hover #app {
                    transition: all 0.3s ease-in-out;
                    transform: translate(-1px,1px);
                }

                &:hover #experiental {
                    transition: all 0.3s ease-in-out;
                    transform: translate(1px,1px);
                }

                &:hover #hybrid {
                    transition: all 0.3s ease-in-out;
                    transform: translate(0,-1px);
                }
            }
        }

        #nav-dates {
            display: none;

            @include for-size(tablet) {
                position: absolute;
                display: inline-block;
                margin-top: -.5rem;
                margin-left: 3rem;
                width: 100%;
                color: rgba($primary-gray, .5);
                letter-spacing: -0.01rem;
                font-size: .625rem;
            }
        }
    }

    .burger-wrapper {
        display: inline-flex;
        margin-right: .5rem;
        padding: .75rem;

        @include for-size(tablet) {
            margin-right: 1rem;
            padding: 1rem;
        }
        @include for-size(tablet-landscape) {
            display: none;
        }

        #nav-burger {
            position: relative;
            width: 1.5rem;
            height: 1rem;
            cursor: pointer;
            transition: all .6s ease-in-out;

            span {
                position: absolute;
                left: 0;
                display: block;
                width: 100%;
                height: .125rem;
                background: $primary-gray;
                opacity: 1;
                transition: all .3s ease-in-out;
                transform: rotate(0deg);

                &:nth-child(1) {
                    top: 0;
                    transition-delay: .1s;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    top: 45%;

                }

                &:nth-child(4) {
                    bottom: 0;
                    transition-delay: .1s;
                }
            }
        }

        &.shown #nav-burger span {
            color: $primary-black;
            transition: all .3s ease-in-out;

            &:nth-child(1) {
                top: 45%;
                opacity: 0;
            }

            &:nth-child(2) {
                transition-delay: .1s;
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transition-delay: .1s;
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                bottom: 45%;
                opacity: 0;
            }
        }
    }

    .navigation-wrapper {
        position: fixed;
        top: 4rem;
        z-index: 999;
        z-index: 999;
        display: block;
        padding: 1rem 1.25rem;
        width: 100%;
        height: auto;
        border-top: 1px solid $primary-light-gray;
        background-color: $primary-white;
        letter-spacing: .025rem;
        opacity: 0;
        transition: all .3s ease-in-out;
        transition-delay: .1s;
        transform: scaleY(0);
        transform-origin: top center;

        @include for-size(tablet) {
            top: 5rem;
            padding: 1rem 2rem;
        }
        @include for-size(tablet-landscape) {
            position: relative;
            top: 0;
            padding: .5rem 4rem;
            width: auto;
            border: none;
            background: transparent;
            box-shadow: none;
            opacity: 1;
            transform: none;
        }

        &::after {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 999;
            width: 100%;
            height: 100vh;
            background: rgba($primary-shadow, .50);
            content: '';

            @include for-size(tablet-landscape) {
                display: none;
            }
        }

        &.shown {
            box-shadow: 0 16px 16px 0 rgba($primary-shadow,0.05),
                        0 8px 8px 0 rgba($primary-shadow,0.10),
                        0 2px 2px 0 rgba($primary-shadow,0.20);
            opacity: 1;
            transition: all .3s ease-in-out;
            transition-delay: .1s;
            transform: scaleY(1);
        }

        #nav-global {
            @include for-size(tablet-landscape) {
                display: inline-flex;
            }

            ul {
                display: flex;
                flex-flow: column nowrap;
                margin: 0;
                padding: 0;
                list-style-type: none;

                @include for-size(tablet-landscape) {
                    flex-flow: row nowrap;
                }

                a {
                    display: block;
                    padding: .75rem 0;
                    color: rgba($primary-black, .6);
                    font-weight: 700;
                    transition: all 0.3s ease-in-out;

                    @include for-size(tablet-landscape) {
                        margin: .5rem 0;
                        padding: 1rem;
                    }

                    &.current {
                        color: $primary-black;
                    }

                    &:hover {
                        color: $primary-black;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }

        #nav-years {
            @include for-size(tablet-landscape) {
                display: inline-flex;
            }

            button {
                margin: .5rem 0;
                padding: .75rem 0;
                color: rgba($primary-gray, .6);
                font-weight: 500;
                font-size: .75rem;
                transition: all .3s ease-in-out;

                @include for-size(tablet-landscape) {
                    padding: 1rem;
                    color: rgba($primary-black, .6);
                    font-weight: 700;
                    font-size: 1rem;
                }

                &:hover,
                &.active {
                    color: $primary-black;
                    transition: all 0.3s ease-in-out;
                }

                &::after {
                    position: absolute;
                    top: 50%;
                    overflow: hidden;
                    margin: 0 1rem;
                    width: calc(100vw - 100% - 3rem);
                    height: 1px;
                    border-top: 1px solid rgba($primary-gray, .25);
                    content: "";

                    @include for-size(tablet-landscape) {
                        display: none;
                    }
                }
            }

            .dropdown-body {
                display: flex;
                transition: all 0.3s ease-in-out;

                @include for-size(tablet-landscape) {
                    position: absolute;
                    top: 100%;
                    left: 10%;
                    z-index: 9999;
                    display: flex;
                    visibility: hidden;
                    flex-flow: column nowrap;
                    padding: .5rem 0;
                    background: $white;
                    box-shadow: none;
                    box-shadow: 0 64px 64px 0 rgba($primary-shadow,0.05),
                                0 32px 32px 0 rgba($primary-shadow,0.10),
                                0 16px 16px 0 rgba($primary-shadow,0.20),
                                0 8px 8px 0 rgba($primary-shadow,0.20),
                                0 2px 2px 0 rgba($primary-shadow,0.20);
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                    transition-delay: .3s;
                    transform: rotateX(-15deg) skewX(-1deg);
                    transform-origin: 50% 0px;

                    &.shown {
                        visibility: visible;
                        opacity: 1;
                        transition: all 0.3s ease-in-out;
                        transform: rotateX(0) skewX(0);
                        transform-origin: 50% 0px;

                        .dropdown-arrow {
                            position: absolute;
                            top: -.4rem;
                            left: calc(50% - .4rem);
                            display: block;
                            width: .8rem;
                            height: .8rem;
                            border-radius: .125rem 0 0 0;
                            background: $white;
                            box-shadow: -2px -2px 4px rgba($primary-shadow, 0.05);
                            transition: all 0.3s ease-in-out;
                            transform: rotate(45deg);
                        }
                    }
                }

                ul {
                    display: flex;
                    flex-flow: column nowrap;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    list-style-type: none;

                    a {
                        display: block;
                        padding: .75rem 0;
                        width: 100%;
                        background: transparent;
                        color: rgba($primary-black, .6);
                        font-weight: 700;
                        transition: all 0.3s ease-in-out;

                        @include for-size(tablet-landscape) {
                            padding: .875rem 4rem .875rem 1.5rem;
                            color: rgba($primary-black, .6);
                        }

                        &.current {
                            color: $primary-black;
                        }

                        &:hover {
                            color: $primary-black;
                            transition: all 0.3s ease-in-out;

                            @include for-size(tablet-landscape) {
                                background: $primary-white;
                            }
                        }
                    }
                }
            }
        }
    }
}
