main {
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    height: 100%;
}

button {
    display: inline-block;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
