html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    #container {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: 100%;

        .heading-main {
            color: $primary-black;
            font-weight: 300;
            font-size: 4rem;
        }

        .heading-caption {
            font-weight: 300;
            font-size: 1.25rem;
        }
    }
}
